@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-body">

		<h4 class="card-title text-center">Özellik Düzenle</h4>

		<form method="post" class="mt-5">
			@Html.HiddenFor(x=>x.Id)
			<div class="form-group">
				<label>Özellik Adı</label>
				<input type="text" class="form-control" placeholder="Özellik adını giriniz" required asp-for="FeatureName" />
			</div>
			<div class="mt-4">
				<button type="submit" class="btn btn-primary waves-effect waves-light px-5">Kaydet</button>
			</div>
		</form>

	</div>
</div>



