<div class="row">
	<div class="col-md-6 col-xl-3">
		<div class="card bg-primary border-primary">
			<div class="card-body text-center">
				<div class="mb-4">
					<h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-12">
						<h2 class="d-flex align-items-center mb-0 text-white justify-content-center">
							@ViewBag.carCount
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-success border-success">
			<div class="card-body text-center">
				<div class="mb-4">
					<h5 class="card-title mb-0 text-white">Toplam Lokasyon Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-12">
						<h2 class="d-flex align-items-center mb-0 text-white justify-content-center">
							@ViewBag.locationCount
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-warning border-warning">
			<div class="card-body text-center">
				<div class="mb-4">
					<h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-12">
						<h2 class="d-flex align-items-center mb-0 text-white justify-content-center">
							@ViewBag.brandCount
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-info border-info">
			<div class="card-body text-center">
				<div class="mb-4">
					<h5 class="card-title mb-0 text-white">Ort. Günlük Araç Kiralama Fiyatı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-12">
						<h2 class="d-flex align-items-center mb-0 text-white justify-content-center">
							@ViewBag.averageDailyCarRentalPrice
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
