@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-body">

		<h4 class="card-title text-center">Sosyal Medya Oluştur</h4>

		<form method="post" class="mt-5">
			<div class="form-group">
				<label>Adı</label>
				<input type="text" class="form-control" placeholder="Sosyal Medaya adını giriniz" required asp-for="Name" />
			</div>
			<div class="form-group">
				<label>URL</label>
				<input type="text" class="form-control" placeholder="Url giriniz" required asp-for="Url" />
			</div>
			<div class="form-group">
				<label>İkon</label>
				<select class="form-control" asp-for="Icon">
					<option selected disabled>İkon Seçiniz</option>
					<option value="lab la-instagram">Instagram</option>
					<option value="lab la-twitter">Twitter</option>
					<option value="lab la-github">GitHub</option>
					<option value="lab la-facebook">Facebook</option>
					<option value="lab la-linkedin-in">LinkedIn</option>
					<option value="lab la-reddit">Reddit</option>
					<option value="lab la-youtube">Youtube</option>
					<option value="lab la-snapchat">Snapchat</option>
					<option value="lab la-discord">Discord</option>
				</select>
			</div>
			<div class="mt-4">
				<button type="submit" class="btn btn-primary waves-effect waves-light px-5">Kaydet</button>
			</div>
		</form>

	</div>
</div>

