@model CreatePricingDto
@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
	<div class="card-body">

		<h4 class="card-title text-center">Yeni Fiyatlandırma Girişi</h4>

		<form method="post" class="mt-5">
			<div class="form-group">
				<label>Fiyatlandırma Adı</label>
				<input type="text" class="form-control" placeholder="Fiyatlandırma adını giriniz" required asp-for="Name" />
			</div>
			<div class="mt-4">
				<button type="submit" class="btn btn-primary waves-effect waves-light px-5">Kaydet</button>
				<button type="reset" class="btn btn-danger waves-effect waves-light px-5">Sil</button>
			</div>
		</form>

	</div>
</div>


